<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818607113828-vs9g1trqoht17gbfq3kteh4ala1jem6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818607113828-vs9g1trqoht17gbfq3kteh4ala1jem6k</string>
	<key>API_KEY</key>
	<string>AIzaSyBaBrfnKbE6w2CZox7Gy_A6kUGqvIg20Nc</string>
	<key>GCM_SENDER_ID</key>
	<string>818607113828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.Claudio.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-abff7</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-abff7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818607113828:ios:bfe248ebfd1e5674390171</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-abff7.firebaseio.com</string>
</dict>
</plist>